.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    text-align: center;
    margin-bottom: 2rem;
}

.counter{
    
    border-radius: 8px;
    width: 400px;
    padding: 10px;
    background: linear-gradient(to bottom right, #53565a, #3b3d3f) ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.counter h2{
    color: orange;
    grid-column: span 2;
    font-size: 6rem;
    margin: 0;
    overflow: hidden;
    position: relative;
    max-width: calc(100%);

}
.counter button{
    padding: calc(var(--unit)/2)0;
    border-radius: 4px;
    border: none;
    font-size: 2rem;
    overflow: hidden;
    background: linear-gradient(to bottom, #eee, #ddd);
    cursor: pointer;
}
.counter button span{
    transition: all 0.15s ease;
    display: block;
}
.counter button:hover span{
    color: orange;
    transition: scale(1.2);
    font-weight: bold;
}
.counter button:last-of-type{
    grid-column: 2 span;
}